.mailLogo {
  width: 80px;
  color: var(--c-darkpink);
}
.mailaddress {
  color: var(--c-darkpink);
  text-decoration: underline;
  cursor: pointer;
  font-size: 18px;
  transition: 0.5s all;
  &:hover {
    opacity: 0.5;
  }
}
