@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --c-irisblue: #00adb5;
  --c-whisper: #eeeeee;
  --c-bunker: #222831;
  --c-cloudburst: #393e46;
  --c-darkpink: #ef476f;
}
