.background_back {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--c-whisper);
}

.background_front {
  position: absolute;
  right: 0;
  width: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.children {
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}
