@import './variables.scss';

.wrapper {
  display: flex;
  flex-direction: column;

  p {
    margin: 0;
    font-weight: 700;
  }

  @include mq(sm) {
  }
}

.irisblue {
  color: var(--c-irisblue);
}

.darkpink {
  color: var(--c-darkpink);
}
